.bookdisplay{
  margin: 15vh 5vw;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.eachbookholder{
  position: relative;
  width: 23vmin;
  margin: 6vmin 2.5vmin;
  padding:3%;
  border: black solid .1em;
  background-color:  rgba(207, 221, 207, 0.384);
}
.bookdetaillinksection{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 90%;
  cursor: pointer;
  background: none;
}
.eachbookimage{
  width: 100%;
  height: 35vmin;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  position: relative;
}
.eachbookimage:hover{
  opacity: 0.8;
}
.eachbookholder .bookdelete, .eachbookholder .bookedit{
  color: white;
  position: absolute;
  background: grey;
  padding: 0.4vmin 1vmin;
  bottom: 0;
  cursor: pointer;
  font-size: 2vmin;
}
.bookdelete:hover, .bookedit:hover{
background: white;
color: grey;
}
.eachbookholder .bookdelete{
  left: 0;
}
.eachbookholder .bookedit{
  right: 0;
}
.eachbookholder p{
  font-size: 3vmin;
  margin:2vmin auto;
  padding:0;
}

.eachbooktitleholder{
  text-decoration: none;
  color: black;
}
.eachbooktitle{
  font-size: 2.7vmin;
  font-weight: 600;
  cursor: pointer;
}
.eachbookauthorholder{
  color: grey;
  text-decoration: none;
}
.eachbookauthor:hover, .eachbooktitle:hover{
  color: green;
}
