.authorholder{
    margin: 15vh 5vw;
}
.author{
    border-radius: 10px;
    border: .05em grey solid;
    padding: 0 4vmin;
    width: 33vw;
    display: inline-block;
    margin: 3vmin 5vmin;
    background: rgba(207, 221, 207, 0.384);
}
.author .name{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.author:hover, .addauthor button:hover{
    border: .05em green solid;
    background: none;
}
.author:hover .name, .addauthor button:hover{
    color: green;
}

.addauthor button{
    width:78%;
    height: 7vh;
    border-radius: 10px;
    border: .05em darkgrey solid;
    background: rgba(207, 221, 207, 0.384);
    font-size: 2.5vmin;
    color: grey;
    cursor: pointer;
}

@media only screen and (min-width: 768px){

    /* .author{
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr)

    } */

}

@media only screen and (min-width: 1200px){

    /* .author{
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr)

    } */
}