.author{
    display: grid;
}
.author{
    margin: 5% 20%;
}
.author{
    border: .05em black solid;

}

.name:hover{
    color: green;
}

@media only screen and (min-width: 768px){

    /* .author{
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr)

    } */

}

@media only screen and (min-width: 1200px){

    /* .author{
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr)

    } */
}