.authorformpopup{
  position: fixed;
  top: 20vh;
  height: 25%;
  left: 20vw;
  right: 20vw;
  background: white;
  border-radius: 10px;
  z-index: 2;
  }
.authorformpopup h3{
  font-size: 4vmin;
}
.authorformpopup .esc{
  position: fixed;
  top: 19.99vh;
  right: 19.99vw;
  width: 5vmin;
  height: 5vmin;
  background: royalblue;
  color: white;
  line-height: 5vmin;
  border-radius: 5px;
  cursor: pointer;
}

.authorformpopup .authorinput{
  border: 1px solid grey;
  height: 4vmin;
  font-size: 4vmin;
  border-radius: 2px;
  width:70%;
  top: 40%;
  margin: 0 auto;
}
.authorformpopup input::placeholder{
  color: grey;
  padding: 0 2vmin;
}
.authorformpopup .authorname, .authorpopup {
  width: 50%;
}
.authorformpopup  .authorsubmitbutton{
  display: inline-block;
  position: absolute;
  bottom: 10vmin;
  left: 20vw;
  width: 20vw;
  color: white;
  background: green;
  height: 5vh;
  border-radius: 10px;
  font-size: 3vmin;
  outline: none;
  cursor: pointer;
  }
.authorformpopup  .authorsubmitbutton:hover{
  background: white;
  color: green;
}
@media only screen and (min-width: 632px){
  .authorformpopup{
    position: fixed;
    top: 20vh;
    height: 50%;
    left: 20vw;
    right: 20vw;
    background: white;
    border-radius: 10px;
    z-index: 2;
    }

 

}

@media only screen and (min-width: 1200px){


  
}