.authors-book{
  margin: 20vmin 10vmin;
}
.name h1{
  margin: 10vmin 0 2vmin 0;
  
}
.cover-image{
    width: 20vmin;
    height: 30vmin;
}

.title-description p{
  font-size: .8em ;
}

.detail-container{
  display: inline-block;
 
}

.details{
  width: 70 vmin;
  border: .1em black solid;
  padding: 1%;
  margin: 5% 2.5%;
  background: #becabf;
}


@media only screen and (min-width: 768px){

  .detail-container{
    display: flex;
    justify-content: space-between;

  }
 

}

@media only screen and (min-width: 1200px){

  
}