.authors-book{
  margin: 20vmin 10vmin;
}
.name h1{
  margin: 10vmin 0 2vmin 0;
  
}
.cover-image{
    width: 20vmin;
    height: 30vmin;
}

.cover-image:hover{
  opacity: 0.8;
}

.book-title{
  text-decoration: none;
  color: black;
}
.title-description h3:hover{
  color: green;
}
.title-description p{
  font-size: .8em ;
}

.detail-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

 
}

.details{
  width: 60vmin;
  border: .1em black solid;
  padding: 5% 3%;
  margin: 5% 2.5%;
  background: rgba(207, 221, 207, 0.384);
}


@media only screen and (min-width: 768px){


 

}

@media only screen and (min-width: 1200px){

  
}