
.header{
    position: fixed;
    top: 0;
    left:0;
    right:0;
    bottom:90vh;
    background: rgb(190, 202, 191);
    z-index: 99;
}
.logolink, .authorlink, .createbooklink{
    display: inline-block;
    color: black;
    cursor: pointer;
    text-decoration: none;
}
.logolink{
    position: absolute;
    left: 10vmin;
    top: 0;
    height: 10vh;
    font-size: 2vmin;
}
.logolink h1{
    font-size: 6vmin;
    margin: 0;
    padding: 0;
    line-height: 10vh;
    text-shadow:1px 1px 2px rgba(0, 0, 139, 0.438);
}
.logolink h1 .one{
color: rgb(223, 230, 199);
}
.logolink h1 .two{
    color: rgb(244, 255, 244);
}
.headerright{
   text-align: right;
   margin-right: 10vmin;
}
.headerright h2{
    padding: 0;
    margin:0;
    line-height: 10vh;
    color: white;
    text-shadow:1px 1px 2px rgba(60, 60, 95, 0.295);
    font-size: 3vmin;
}
.headerright h2:hover{
    color: green;
    text-shadow:1px 1px 2px rgba(255, 255, 255, 0.295);
}
.headerright small{
    color: white;
    margin: 2vmin;
}
@media only screen and (max-width: 768px){
    .logolink{
        left: 5vmin;
    }
    .headerright{
        margin-right: 5vmin;
        }
    }

@media only screen and (min-width: 1200px){

}