.bookdetailholder{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  max-height: 60vh;
  margin: 17vh 8vw 20vmin 8vw;
}
.bookdetail{
  flex:3;
  text-align: left;
  min-height: 20vh;
  padding-top: 0;
  margin: 0 3vmin;
  padding: 3vmin;
}
.bookdetail h2{
  padding-top: 0;
  margin: 0;
  font-size: 4vmin;
  text-shadow: 1px 1px 1px lightgrey;
}
.bookdetail p{
  font-size: 3vmin;
  text-align: justify;
}
.bookdetailimageholder{
  flex:1;
  height: 60vh;
  width: 32vmin;
  padding-top:3vmin;
}
.bookdetailimage{
  width: 32vmin;
  height: 50vmin;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  text-align: right;
  position: relative;
}
.bookidsave{
  position: absolute;
  bottom: -8vh;
  left:0;
  margin:0;
  width: 100%;
  height: 4vmin;
  background: green;
  color: white;
  border: none;
  margin: 3vmin 0;
  cursor: pointer;
  font-size: 2vmin;
}
.bookidsave:hover{
  background: white;
  color: green;
  border: 1px solid green;
}
@media only screen and (max-width: 768px){
  .bookdetailholder{
    margin: 17vh 3vw 20vmin 3vw;
  }
  .bookdetail{
      text-align: left;
      min-height: 10vh;
      padding-top: 0;
      margin: 3vmin 5vmin 3vmin 10vmin;
      padding: 3vmin;
    }
    .bookdetail p{
      text-align: left !important;
    }
    .bookdetailimageholder{
      height: 45vmin;
      width: 26vmin;
      background: none;
      margin: 5vmin 0;
    }
    .bookdetailimage{
    width: 25vmin;
    height: 40vmin;
    }
}