/* Share props */
.block{
  display: block;
}
.none{
  display:none;
}
.overlay{
  position: fixed;
  top: 0;
  left:0;
  bottom:0;
  right:0;
  background: black;
  opacity: 0.8;
}
/* App.js */
.App {
  text-align: center;
}
input:focus, textarea:focus{
  outline:none;
}